In [2]:
import pandas as pd 
import joblib
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [3]:
df = pd.read_csv('../data/processed/StudentsPerformance_processed.csv')
df.head()

,gender,parental level of education,math score,reading score,writing score,lunch_standard,test preparation course_none,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E
0,1,4,72,72,74,True,True,False,True,False,False,False
1,1,2,69,90,88,True,False,False,False,True,False,False
2,1,5,90,95,93,True,True,False,True,False,False,False
3,0,3,47,57,44,False,True,True,False,False,False,False
4,0,2,76,78,75,True,True,False,False,True,False,False

In [4]:
X = df.drop(columns = ['math score'])
y = df['math score']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print("R^2: ", r2_score(y_test, y_pred))

R^2:  0.8815597679452446

In [8]:
route = '../models/baseline_model.pkl'
joblib.dump(model, route)
model_test = joblib.load(route)
print("test prediction:", model_test.predict(X_test[:2]))

test prediction: [76.38580411 58.25576114]